
{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Gitlab Tags{% endblock %}</title>
  {% load staticfiles %}
  <script src="https://kit.fontawesome.com/5b1ce2d2ae.js"></script>
  <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <main>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Github Tags Manager</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href='{% url "home" %}'>Home <span class="sr-only">(página atual)</span></a>
              </li>
          </ul>
          <span class="mr-sm-3 username" > Conectado como <strong>{{user.username}}</strong></span>
          <form method="GET" action="{% url 'logout' %}">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sair</button>
          </form>
      </nav>
    {% block content %} 
    {% endblock %}
  </main>
</body>
</html>